<a href="https://colab.research.google.com/github/garytjones/JUpyter/blob/master/Copy_of_Untitled3_ipynb_Panda_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/songs.csv')
df.info()
df.head()

trump_df = pd.read_json('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/tweets.json')
trump_df.info()
trump_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 8 columns):
Song Clean      2229 non-null object
ARTIST CLEAN    2229 non-null object
Release Year    1652 non-null object
COMBINED        2229 non-null object
First?          2229 non-null int64
Year?           2229 non-null int64
PlayCount       2229 non-null int64
F*G             2229 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 29 columns):
id                           1018 non-null int64
entities                     1018 non-null object
is_quote_status              1018 non-null bool
text                         1018 non-null object
favorited                    1018 non-null bool
source                       1018 non-null object
truncated                    1018 non-null bool
created_at                   1018 non-null datetime64[ns, UTC]
user                         1018 non-null object
geo                          3 non-null object
in_reply_to_user_id_str      1 non-null float64
coordinates                  3 non-null object
in_reply_to_user_id          1 non-null float64
contributors                 0 non-null float64
place                        341 non-null object
in_reply_to_status_id_str    0 non-null float64
retweeted                    1018 non-null bool
lang                         1018 non-null object
favorite_count               1018 non-null int64
in_reply_to_screen_name      1 non-null object
in_reply_to_status_id        0 non-null float64
retweeted_status             100 non-null object
id_str                       1018 non-null int64
retweet_count                1018 non-null int64
possibly_sensitive           533 non-null float64
extended_entities            159 non-null object
quoted_status_id_str         19 non-null float64
quoted_status_id             19 non-null float64
quoted_status                17 non-null object
dtypes: bool(4), datetime64[ns, UTC](1), float64(8), int64(4), object(12)
memory usage: 202.9+ KB

                   id  ... quoted_status
0  815449933453127681  ...           NaN
1  815449868739211265  ...           NaN
2  815433444591304704  ...           NaN
3  815433217595547648  ...           NaN
4  815432169464197121  ...           NaN

[5 rows x 29 columns]